# Imports

In [1]:
import pandas as pd
import numpy as np

# Dictionaries

In [2]:
# https://teamcolorcodes.com/ncaa-color-codes/sec-team-color-codes/

sec_color_dict_abbv = {
    'ALA': '#9e1b32', 'MISS': '#14213D', 'MIZ': '#F1B82D', 'SC': '#000000',
    'VAN': '#866d4b', 'TA&M': '#500000', 'LSU': '#461D7C', 'AUB': '#0C2340', 
    'UGA': '#BA0C2F', 'FLA': '#0021A5', 'MSST': '#660000', 'TENN': '#FF8200', 
    'ARK': '#9D2235', 'UK': '#0033a0'
}

In [3]:
sec_color_dict = {
    'Alabama': '#9e1b32', 'Mississippi': '#14213D', 'Ole Miss': '#14213D', 
    'Missouri': '#F1B82D', 'South Carolina': '#000000','Vanderbilt': '#866d4b', 
    'Texas A&M': '#500000', 'LSU': '#461D7C', 'Auburn': '#0C2340', 
    'Georgia': '#BA0C2F', 'Florida': '#0021A5', 'Miss State': '#660000', 'Mississippi St.': '#660000', 
    'Tennessee': '#FF8200', 'Arkansas': '#9D2235', 'Kentucky': '#0033a0'
}

In [4]:
sec_name_dict = {
    'ALA': 'Alabama', 'MISS': 'Ole Miss', 'MIZ': 'Missouri', 'SC': 'South Carolina',
    'VAN': 'Vanderbilt', 'TA&M': 'Texas A&M', 'LSU': 'LSU', 'AUB': 'Auburn', 
    'UGA': 'Georgia', 'FLA': 'Florida', 'MSST': 'Miss State', 'TENN': 'Tennessee', 
    'ARK': 'Arkansas', 'UK': 'Kentucky'    
}

In [5]:
conf_dict = {
    'SEC': ['ALA', 'MISS', 'MIZ', 'SC', 'VAN', 'TA&M', 'LSU', 'AUB', 'UGA', 'FLA', 
            'MSST', 'TENN', 'ARK', 'UK', 'Alabama', 'Ole Miss', 'Missouri', 
            'South Carolina', 'Vanderbilt', 'Texas A&M', 'LSU', 'Auburn', 'Georgia', 
            'Florida', 'Miss State', 'Tennessee', 'Arkansas', 'Kentucky', 'Mississippi St.'],
    'Big10': ['OSU', 'PUR', 'NW', 'MSU'], 
    'ACC': ['NCST', 'CLEM'], 
    'Pac12': ['WSU'], 
    'Big12': ['OKLA', 'OKST', 'TEX']
}

inv_conf_dict = {v: k for k, values in conf_dict.items() for v in values}

# Dataframe

In [6]:
df = pd.read_csv('CFB_QBs_2018.csv')

df['Conference'] = df['Team'].map(inv_conf_dict)
df['TeamName'] = df['Team'].map(sec_name_dict)
df['TeamColor'] = df['Team'].map(sec_color_dict_abbv)
df['TennColor'] = '#74ABD6'
df['TennColor'] = np.where(df['Team'] == 'TENN', '#f77f00', df['TennColor'])


df['Player'] = df['Player'].str.split(',', expand=True)[0]

df['YPC'] = np.round(df['Yards'] / df['Completions'],1)
df['AttemptsPerINT'] = np.round(df['Attempts'] / df['INTs'],1)
df['INTModYards'] = df['Yards'] - (df['INTs'] * 50)
df['INTModYPA'] = np.round(df['INTModYards'] / df['Attempts'],2)
df['AttemptsPerSack'] = np.round((df['Attempts'] + df['SacksTaken']) / df['SacksTaken'], 2)

df = df.drop(['Rank'], axis=1)


df = df[['Player', 'Team', 'TeamName', 'TeamColor', 'TennColor', 'Conference', 'Completions', 'Attempts',
       'CompletionPct', 'Yards', 'YPA', 'YPC', 'TDs', 'INTs', 'SacksTaken',
       'QBRating', 'AttemptsPerINT', 'INTModYards', 'INTModYPA', 'AttemptsPerSack']]

In [7]:
df.head()

,Player,Team,TeamName,TeamColor,TennColor,Conference,Completions,Attempts,CompletionPct,Yards,YPA,YPC,TDs,INTs,SacksTaken,QBRating,AttemptsPerINT,INTModYards,INTModYPA,AttemptsPerSack
0,Dwayne Haskins,OSU,NaN,NaN,#74ABD6,Big10,373,533,70.0,4831,9.1,13.0,50,8,20,174.1,66.6,4431,8.31,27.65
1,Gardner Minshew,WSU,NaN,NaN,#74ABD6,Pac12,468,662,70.7,4779,7.2,10.2,38,9,13,147.6,73.6,4329,6.54,51.92
2,Kyler Murray,OKLA,NaN,NaN,#74ABD6,Big12,260,377,69.0,4361,11.6,16.8,42,7,18,199.2,53.9,4011,10.64,21.94
3,Taylor Cornelius,OKST,NaN,NaN,#74ABD6,Big12,288,485,59.4,3978,8.2,13.8,32,13,32,144.7,37.3,3328,6.86,16.16
4,Tua Tagovailoa,ALA,Alabama,#9e1b32,#74ABD6,SEC,245,355,69.0,3966,11.2,16.2,43,6,13,199.5,59.2,3666,10.33,28.31

# SEC Data

In [8]:
sec_df = df[df['Conference'] == 'SEC'].reset_index(drop=True)

In [9]:
sec_df

,Player,Team,TeamName,TeamColor,TennColor,Conference,Completions,Attempts,CompletionPct,Yards,YPA,YPC,TDs,INTs,SacksTaken,QBRating,AttemptsPerINT,INTModYards,INTModYPA,AttemptsPerSack
0,Tua Tagovailoa,ALA,Alabama,#9e1b32,#74ABD6,SEC,245,355,69.0,3966,11.2,16.2,43,6,13,199.5,59.2,3666,10.33,28.31
1,Jordan Ta'amu,MISS,Ole Miss,#14213D,#74ABD6,SEC,266,418,63.6,3918,9.4,14.7,19,8,29,153.5,52.2,3518,8.42,15.41
2,Drew Lock,MIZ,Missouri,#F1B82D,#74ABD6,SEC,275,437,62.9,3498,8.0,12.7,28,8,13,147.7,54.6,3098,7.09,34.62
3,Jake Bentley,SC,South Carolina,#000000,#74ABD6,SEC,240,388,61.9,3171,8.2,13.2,27,14,20,146.3,27.7,2471,6.37,20.40
4,Kyle Shurmur,VAN,Vanderbilt,#866d4b,#74ABD6,SEC,254,406,62.6,3130,7.7,12.3,24,6,21,143.9,67.7,2830,6.97,20.33
5,Kellen Mond,TA&M,Texas A&M,#500000,#74ABD6,SEC,238,415,57.3,3107,7.5,13.1,24,9,34,135.0,46.1,2657,6.40,13.21
6,Joe Burrow,LSU,LSU,#461D7C,#74ABD6,SEC,219,379,57.8,2894,7.6,13.2,16,5,35,133.2,75.8,2644,6.98,11.83
7,Jarrett Stidham,AUB,Auburn,#0C2340,#74ABD6,SEC,224,369,60.7,2794,7.6,12.5,18,5,23,137.7,73.8,2544,6.89,17.04
8,Jake Fromm,UGA,Georgia,#BA0C2F,#74ABD6,SEC,206,306,67.3,2749,9.0,13.3,30,6,16,171.2,51.0,2449,8.00,20.12
9,Feleipe Franks,FLA,Florida,#0021A5,#74ABD6,SEC,188,322,58.4,2457,7.6,13.1,24,6,15,143.3,53.7,2157,6.70,22.47
10,Jarrett Guarantano,TENN,Tennessee,#FF8200,#f77f00,SEC,153,246,62.2,1907,7.8,12.5,12,3,22,141.0,82.0,1757,7.14,12.18
11,Terry Wilson,UK,Kentucky,#0033a0,#74ABD6,SEC,180,268,67.2,1889,7.0,10.5,11,8,28,134.0,33.5,1489,5.56,10.57
12,Nick Fitzgerald,MSST,Miss State,#660000,#74ABD6,SEC,145,281,51.6,1767,6.3,12.2,16,9,25,116.8,31.2,1317,4.69,12.24
13,Ty Storey,ARK,Arkansas,#9D2235,#74ABD6,SEC,143,250,57.2,1584,6.3,11.1,11,10,19,116.9,25.0,1084,4.34,14.16

In [11]:
# sec_df.to_csv(r'sec_qbs_2018.csv')

# Add Rushing Stats for QBs

In [19]:
sec_df = pd.read_csv('sec_qbs_2018_mod.csv')
sec_df = sec_df.drop(['Unnamed: 0'], axis=1)
sec_df['R+P_Att'] = np.round(sec_df['Attempts'] + sec_df['RushAtt'],2)
sec_df['R+P_Yds'] = sec_df['Yards'] + sec_df['RushYds']
sec_df['R+P_YPP'] = np.round(sec_df['R+P_Yds'] / sec_df['R+P_Att'],2)
sec_df['INTs+Fumbles'] = sec_df['INTs'] + sec_df['Fumbles']
sec_df['R+PAttPerTO'] = np.round(sec_df['R+P_Att'] / sec_df['INTs+Fumbles'],2)
sec_df['TurnoverModYPA'] = np.round((sec_df['Yards'] - (sec_df['INTs+Fumbles'] * 50)) / sec_df['R+P_Att'],2)
sec_df['TurnoverModYPP'] = np.round((sec_df['R+P_Yds'] - (sec_df['INTs+Fumbles'] * 50)) / sec_df['R+P_Att'],2)

In [23]:
sec_df

,Player,Team,TeamName,TeamColor,TennColor,Conference,Completions,Attempts,CompletionPct,Yards,...,RushTDs,Fumbles,FumblesLost,R+P_Att,R+P_Yds,R+P_YPP,INTs+Fumbles,R+PAttPerTO,TurnoverModYPA,TurnoverModYPP
0,Tua Tagovailoa,ALA,Alabama,#9e1b32,#74ABD6,SEC,245,355,69.0,3966,...,5,3,2,412,4156,10.09,9,45.78,8.53,9.00
1,Jordan Ta'amu,MISS,Ole Miss,#14213D,#74ABD6,SEC,266,418,63.6,3918,...,6,4,3,534,4260,7.98,12,44.50,6.21,6.85
2,Drew Lock,MIZ,Missouri,#F1B82D,#74ABD6,SEC,275,437,62.9,3498,...,6,6,2,492,3673,7.47,14,35.14,5.69,6.04
3,Jake Bentley,SC,South Carolina,#000000,#74ABD6,SEC,240,388,61.9,3171,...,2,0,0,452,3259,7.21,14,32.29,5.47,5.66
4,Kyle Shurmur,VAN,Vanderbilt,#866d4b,#74ABD6,SEC,254,406,62.6,3130,...,0,5,2,445,3050,6.85,11,40.45,5.80,5.62
5,Kellen Mond,TA&M,Texas A&M,#500000,#74ABD6,SEC,238,415,57.3,3107,...,7,7,4,564,3581,6.35,16,35.25,4.09,4.93
6,Joe Burrow,LSU,LSU,#461D7C,#74ABD6,SEC,219,379,57.8,2894,...,7,5,4,507,3293,6.50,10,50.70,4.72,5.51
7,Jarrett Stidham,AUB,Auburn,#0C2340,#74ABD6,SEC,224,369,60.7,2794,...,3,4,2,441,2795,6.34,9,49.00,5.32,5.32
8,Jake Fromm,UGA,Georgia,#BA0C2F,#74ABD6,SEC,206,306,67.3,2749,...,0,4,1,347,2713,7.82,10,34.70,6.48,6.38
9,Feleipe Franks,FLA,Florida,#0021A5,#74ABD6,SEC,188,322,58.4,2457,...,7,7,3,432,2807,6.50,13,33.23,4.18,4.99
10,Jarrett Guarantano,TENN,Tennessee,#FF8200,#f77f00,SEC,153,246,62.2,1907,...,0,4,2,286,1813,6.34,7,40.86,5.44,5.12
11,Terry Wilson,UK,Kentucky,#0033a0,#74ABD6,SEC,180,268,67.2,1889,...,4,9,4,403,2436,6.04,17,23.71,2.58,3.94
12,Nick Fitzgerald,MSST,Miss State,#660000,#74ABD6,SEC,145,281,51.6,1767,...,13,2,1,502,2888,5.75,11,45.64,2.42,4.66
13,Ty Storey,ARK,Arkansas,#9D2235,#74ABD6,SEC,143,250,57.2,1584,...,1,7,5,317,1730,5.46,17,18.65,2.32,2.78

In [22]:
sec_df.to_csv(r'sec_qbs_2018_mod.csv')

# Team Rushing and Tacks for Loss Allowed Stats

In [ ]:
rushing = pd.read_csv('cfb_2018_team_rushing.csv')
tfl = pd.read_csv('cfb_2018_tfl_allowed.csv')
tot_off = pd.read_csv('cfb_2018_total_offense.csv')

In [ ]:
team_df = rushing.merge(tfl, on="Team", how="outer")
team_df = team_df.merge(tot_off, on="Team", how="outer")
team_df = team_df.drop(['Rank_x', 'Rank_y', 'Rank', 'G_x', 'G_y'], axis=1)
team_df['Team'] = team_df['Team'].str[:-1]
team_df['Team'] = team_df['Team'].replace('Mississippi St.', 'Miss State')
team_df['Conf'] = team_df['Team'].map(inv_conf_dict)
team_df['TeamColor'] = team_df['Team'].map(sec_color_dict)
team_df['TennColor'] = '#74ABD6'
team_df['TennColor'] = np.where(team_df['Team'] == 'Tennessee', '#f77f00', team_df['TennColor'])

team_df['PlaysPerTFL'] = np.round(team_df['Plays'] / team_df['OppTFL'],2)

# team_df = 
team_df.head()

In [ ]:
sec_team_stats = team_df[team_df['Conf'] == 'SEC']
sec_team_stats

In [ ]:
# sec_team_stats.to_csv(r'sec_team_stats_2018.csv')